<!-- adicionar ao <head>  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">-->

<div id="fullscreen_intro">
    <div class="landing-text">

        <img id="logo" src="http://qualichain.epu.ntua.gr/assets/img/qualichain-logo.png">
        

        <h4>Qualichain Consortium and Certificate Management</h4>
        <br>        <a  href="javascript:document.querySelector('#fullscreen_thesis').scrollIntoView();" >  
        <svg id="more-arrows">
            <polygon class="arrow-top" points="37.6,27.9 1.8,1.3 3.3,0 37.6,25.3 71.9,0 73.7,1.3 "/>
            <polygon class="arrow-middle" points="37.6,45.8 0.8,18.7 4.4,16.4 37.6,41.2 71.2,16.4 74.5,18.7 "/>
            <polygon class="arrow-bottom" points="37.6,64 0,36.1 5.1,32.8 37.6,56.8 70.4,32.8 75.5,36.1 "/>
        </svg>
        </a>
    </div>
</div>

<div id="fullscreen_thesis">
    <div class="thesis-text row">
        <div class="offset-md-6">
            <h1 style="font-size: 4rem;"><b>QualiChain Recruiting</b></h1>
            <!--<h4 style="font-size: 3rem;">Descrição</h4>-->
            <p style="font-size: 1.4rem;">This is the module executed by a recruiting organization, e.g., a public administration organization like AMA or a company. This component is responsible for the diploma validation.</p>
            <div><a class="btn btn-lg btn-primary thesis-btn" [routerLink]="['/recruiting']">QualiChain Recruiting</a></div>
        </div>
    </div>
</div>

