<div class="middlePage">

  <div class="row">


    <div class="col-md-5" style="border-left:1px solid #ccc;height:160px; padding-top: 5em">
      <form #form="ngForm" (ngSubmit)="changePassword(form)" class="form-horizontal">
        <fieldset>
          <h2>Please insert email</h2>
          <input id="email" type="email" name="email" ngModel type="text" placeholder="e-mail" class="form-control input-md">
          <div class="spacing"></div>
          <button id="singlebutton" name="singlebutton" class="btn btn-info btn-sm pull-right" style="background-color:#2b68b0">Change Password</button>
        </fieldset>
      </form>
    </div>
    <p> Note: Please check your spam folder. </p>
  </div>


</div>